<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.myapplication.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.myapplication.app.TabActivity"
            android:label="@string/title_activity_tab"
            android:parentActivityName="com.example.myapplication.app.MainActivity" >
        </activity>
        <activity
            android:name="com.example.myapplication.app.LinearLayoutActivity"
            android:label="@string/title_activity_linear_layout"
            android:parentActivityName="com.example.myapplication.app.MainActivity" >
        </activity>
        <activity
            android:name="com.example.myapplication.app.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.example.myapplication.app.LinearLayoutActivity" >
        </activity>
        <activity
            android:name="com.example.myapplication.app.ActionBar"
            android:label="@string/title_activity_action_bar"
            android:parentActivityName="com.example.myapplication.app.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.myapplication.app.MainActivity" />
        </activity>
        <activity
            android:name="com.example.myapplication.app.MyWall"
            android:parentActivityName=".MainActivity"
            android:label="@string/title_activity_my_wall" >
        </activity>
    </application>

</manifest>
